*{
    margin: 0;
    padding:0;
box-sizing: border-box;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
html,body{
    height: 100%;
    width: 100%;

}
#main{
    height: 100%;
    width: 100%;
background: white;
align-items: center;}
  
#nav{
    height: 100px;
    width: 100%;
   display: flex;
   justify-content: space-between;
   padding: 0px 30px;
   position: absolute;
   top: 20px;
   align-items: center;

}
#nav-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
}
#nav h3{
    font-size: 16px;
    border: 2px solid black;
    padding: 5px 10px;
    border-radius: 50px;
}
#nav i{
    font-size: 16px;
    border: 2px solid black;
    padding: 5px 10px;
    border-radius: 50px;
}
#nav h1{
    height: 100px;
    width: 100px;
    text-transform: uppercase;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;

}
#nav button{
   padding: 7px 12px;
   border-radius: 50px;
   border:1.5px solid black;
   font-size: 16px;
   font-weight: 600;
   
}
#sign{
    border: none;  
    color: white;
  background-color: orangered;
}

#main>h1{
    font-size: 150px;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    
}

img{height: 400px;
width: 350px;
object-fit: cover;
/* object-position: top; */
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50% ,-50%);
border-radius: 50px;}

#img1{
    transform: translate(-50%,-50%) rotate(-30deg);
}
#img2{
    transform: translate(-50%,-50%) rotate(-20deg);
}
#img3{
    transform: translate(-50%,-50%) rotate(-10deg);
}
#img1{
    transform: translate(-50%,-50%) rotate(-30deg);
}


#btm-left{
    position: absolute;
    bottom: 5%;
    left: 3%;
    font-size: 17px;


}
#btm-right{
    position: absolute;
    bottom: 5%;
    right: 20px;
    font-size: 17px;


}
#main>i{
    font-size: 16px;
    border: 2px solid black;
    padding: 5px 10px;
    position: absolute;
    top: 95%;
    left: 50%;
    border-radius: 50px;
 
}



